<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org " lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Reimburse with Camunda</title>
    <style>
        .center-page{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="index.html">Reimburse</a>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <!--                            <div>-->
                        <!--                                <div class="image img-cir img-120">-->
                        <!--                                    <img src="assets/image/avatar-1.jpg" alt="John Doe" />-->
                        <!--                                </div>-->
                        <!--                                <h4 class="name">john doe</h4>-->
                        <!--                                <a href="#">Sign out</a>-->
                        <!--                            </div>-->
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index" ><i class="fa fa-fw fa-circle"></i>Dashboard</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/pengajuan"><i class="fa fa-fw fa-circle"></i>Pengajuan Reimburse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" ><i class="fa fa-fw fa-circle"></i>List Reimburse</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<main class="class= col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0  m-b-30" style=" margin: auto">
    <div class="container mt-5">
        <div class="row p-3 shadow-sm rounded bg-white my-3">
            <h3>
                <b>List Reimburse</b>
            </h3>
        </div>

        <div class="row p-3 shadow-sm rounded bg-white my-3">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><b>id</b></td>
                        <td><b>Created</b></td>
                        <td><b>Keterangan</b></td>
                        <td><b>Next Steps</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border"></tr>
                    <tr th:each="dataEmployee,iter :${employeeList}">
                        <td th:text="${dataEmployee.getId()}"></td>
                        <td th:text="${dataEmployee.getCreated()}"></td>
                        <td th:text="${dataEmployee.getName()}"></td>
                        <td>
                            <form action="#" th:action="@{/review}" method="get">
                                <button class="btn btn-outline-primary px-3 py-1"
                                        name="buttonList"
                                        th:value="${dataEmployee.getId()}"
                                        th:text="${dataEmployee.getName()}">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script>alert ("This is a warning message!");</script>
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="assets/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>